{% extends 'AvroSupportBundle::layout.html.twig' %}
{% block support_content %}
    <div class="page-header">
        <a class="btn btn-primary btn-large pull-right" href="{{ path('avro_support_question_new') }}"><i class="fa fa-plus"></i>New Question</a>
        <h1>
            My Questions
            <div class="dropdown btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ filter }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('avro_support_question_list', {'filter': 'Open'}) }}"><i class="fa fa-minus"></i>Open</a></li>
                    <li><a href="{{ path('avro_support_question_list', {'filter': 'Solved'}) }}"><i class="fa fa-check"></i>Solved</a></li>
                </ul>
            </div>
        </h1>
    </div>

    {% include 'AvroSupportBundle:Support:search_form.html.twig' %}

    <div id="questionList" class="row" style="margin-top: 20px;">
      {% include 'AvroSupportBundle:Question:table.html.twig' %}
    </div>
{% endblock %}

