<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}" style="margin-top: .5em;">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        {{ flashMessage | trans({}, 'AvroSupportBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            <div class="row">
                <div class="span9">
                    {% block support_content %}
                    {% endblock %}
                </div>
                <div class="span3">
                    {% render 'AvroSupportBundle:Support:sideWidget' %}
                </div>
            </div>
        </div>
    </body>
</html>
