{% extends 'AvroSupportBundle::layout.html.twig' %}
{% block support_content %}
    <div class="page-header">
        <a class="btn btn-lg pull-right" href="{{ path('avro_support_category_list') }}"><i class="icon-arrow-left"></i> Back</a>
        <h1>Edit Category</h1>
    </div>
    <form id="avro_support_question_form" class="form-horizontal" method="post" href="{{ path('avro_support_category_edit', {'slug': category.slug}) }}" {{ form_enctype(form) }}>
        {% include 'AvroSupportBundle:Category:form.html.twig' %}
        <div class="form-actions">
            <button type="submit" class="btn btn-large btn-primary" title="Update this category."><i class="icon-ok icon-white"></i> Submit</button>
            <a class="btn btn-danger btn-large pull-right" href="{{ path('avro_support_category_delete', {'id': category.id}) }}"><i class="icon-remove icon-white"></i> Delete</a>
        </div>
    </form>
{% endblock %}
