{% extends 'AvroSupportBundle::layout.html.twig' %}
{% block support_content %}
    <div class="page-header">
        <a class="btn btn-primary btn-large pull-right" href="{{ path('avro_support_category_new') }}"><i class="icon-plus icon-white"></i> New Category</a>
        <h1>Categories</h1>
    </div>
    <div id="categoryList" class="row-fluid">
        {% include 'AvroSupportBundle:Category:table.html.twig' %}
    </div>
{% endblock %}

