{% extends 'AvroSupportBundle::layout.html.twig' %}
{% block support_content %}
    <div class="page-header">
        <a class="btn btn-large pull-right" href="{{ path('avro_support_category_list') }}"><i class="icon-arrow-left"></i> Back</a>
        <h1>New Category</h1>
    </div>
    <form id="avro_support_question_form" class="orm-horizontal" method="post" href="{{ path('avro_support_category_new') }}" {{ form_enctype(form) }}>
        {% include 'AvroSupportBundle:Category:form.html.twig' %}
        <div class="form-actions">
            <button type="submit" class="btn btn-large btn-primary" title="Create this category."><i class="icon-ok icon-white"></i> Submit</button>
        </div>
    </form>
{% endblock %}
