<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
    <form method="get" action="{{ path('avro_support_support_search') }}">
      <div class="input-group">
        <input id="searchQuery" class="form-control" name="q" value="Search for a question ..." onfocus="this.value=(this.value=='Search for a question ...') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'Search for question ...' : this.value;" type="text"/>
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Search</button>
        </span>
      </div>
    </form>
  </div>
</div>
