<div class="center-align">
    <form method="get" action="{{ path('avro_support_support_search') }}" class="form-horizontal">
        <div class="input-append">
            <input id="searchQuery" class="input-xlarge" name="q" value="Search for a question ..." onfocus="this.value=(this.value=='Search for a question ...') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'Search for question ...' : this.value;" type="text">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </form>
</div>
